

*{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: "Jersey 10", sans-serif;
}

/*colores N1*/

:root{
    --blanco:#FBF8EF;
    --rosa1:#EC7FA9;
    --rosa2Claro:#FFEDFA;
    --rosa2Claro2:#FDB7EA;
    --rosa3Fuerte:#BE5985;
    --rosa4fuerte:#AC1754;
}

#musica{
    display: none;
}

#btnOcultarHUD{
    display: none;
}


/*estilos N1*/
.fondoN1{
    /*background: radial-gradient(circle,var(--rosa2Claro),var(--rosa1), var(--rosa3Fuerte));*/
    background-image: url('/assets/fondo-nivel2.gif');
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    background-repeat:initial;
    background-size: cover;
}


.contenedor {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.5);
    color: azure;
    align-items: stretch;

    grid-template-areas: 
        "wid1 wid1"
        "canvas-container canvas-container"
        "hud hud"
        "btn1 btn1";
}

.wid1 {
    grid-area: wid1;
    background-color: #000000;
    border-radius: 20px;
    height: 100px;
    width: 100%;
}

.wid1 img {
    max-width: 100%; 
    height: auto; 
}

.canvas-container {
    grid-area: canvas-container;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    object-fit: contain;
}

#phaser-game canvas{
    width:1500px;
    height:100%;
    object-fit: contain;
    transform: translateY(20px); 
}


#gameCanvas, #imagenCanvas, #imagenPerder {
    display: block; /* Asegura que los canvas activos se muestren */
}

#gameCanvas{
    width: 1500px;
    height: 800px;
}

.imagenCanva, .imagenPerd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Se activa cuando sea necesario */
}

.hud {
    grid-area: hud;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
    grid-template-rows: auto auto auto; /* Dos filas automáticas */
    grid-template-areas: 
    "nombre-container vidas-container  musica_a"
    "puntaje-container  vidas-container musica_a";
    justify-content: center;
    gap:20px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color:black;
    padding: 10px;
    color:var(--blanco);
    grid-area: hud;
    align-items: center;
    text-align: center;
}


#puntaje-container {
    grid-area: puntaje-container;
}

#vidas-container {
    grid-area: vidas-container;
}

#musica_a {
    grid-area: musica_a;
}

#nombre-container {
    grid-area: nombre-container;
}

.btn1 {
    grid-area: btn1;
    display: flex;
    flex-direction: row; /* Organiza los botones de arriba a abajo */
    align-items: center;    /* Centra los botones horizontalmente */
    gap: 10px;              /* Espacio entre los botones */
    width: 100%;  /* O un tamaño fijo si lo prefieres */
    height: 130px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.btn1 button:hover {
    transform: scale(1.1); /* Hace que el texto o botón crezca un poco */
}

/* Ajuste de tamaño de los botones en .btn1 */
.btn1 button img {
    width: 100%;  /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción */
    object-fit: contain;
}

/* Estilo de los botones */
.btn1 button {
    padding: 5px;  /* Reduce el espacio interno */
    background: none; /* Elimina fondo */
    border: none; /* Quita borde */
}


.bt{
    background-image: url("/assets/fondo-nivel2-dia.gif");
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    background-repeat:initial;
    background-size: cover;
}