

*{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

/*colores N1*/

:root{
    --blanco:#FBF8EF;
    --negro :#000000;
    --rosa2Claro:#FFEDFA;
    --rosa2Claro2:#1a0a1a;
    --rosa3Fuerte:#979797;
    --rosa4fuerte:#010512;
}
.contenedor img {
    width: 30%;
    height: auto;
    object-fit: contain;
  }
  
/*estilos N1*/
.fondoN1{
    /*background: radial-gradient(circle,var(--rosa2Claro),var(--negro), var(--rosa3Fuerte));*/
    background-image: url('https://i.pinimg.com/736x/ba/80/3c/ba803c18d25bdd9e460003f3904ec3ce.jpg');
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    background-repeat:initial;
    background-size: cover;
}

body {
    background-image: url("/assets/fondo-nivel2-dia.gif");
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen de fondo se mantenga fija al hacer scroll */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: grid;
    grid-gap: 20px;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: rgba(131, 131, 131, 0.5);
    color: azure;
    align-items: stretch;
    border-radius: 20px;
    grid-template-areas: "wid1 wid3  wid2"
                        "juego juego juego"
                        "footer footer footer";
  }


  #musica{
    display: none;
  }

  .canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: auto;
    
    margin-top: 2%;
    
    grid-area: juego; /* Si usas grid-template-areas en tu layout */
}

.wid1, .wid2 {
    width: 100%;  /* O un tamaño fijo si lo prefieres */
    height: 180px; /* Ajusta según el tamaño de .wid1 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.wid1, .wid2 {
    min-height: 150px; /* Asegura que todas tengan la misma altura mínima */
}

.wid1{
    background-color: rgb(80, 80, 0);
    grid-area: wid1;
}

.wid2{
    
    background-color: var(--rosa3Fuerte);
    grid-area: wid2;
}

.wid3{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: wid3;
}

.wid3 img{
    width: 250px;
    height: 250;
}

.wid1 img {
    max-width: 80%; 
    height: auto; 
}

.hud {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(19, 1, 1);
    grid-area: footer; /* Si usas grid-template-areas en tu layout */

}

#vidas-container img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

#puntaje-container h1{
    margin-top: -20px;
    margin-bottom: 30px; /* Ajusta este valor según la separación que desees */
}

.imagenCanva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 700px;
    margin-top: 2%;
    grid-area: juego; /* Si usas grid-template-areas en tu layout */
}

.imagenPerd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    grid-area: juego;
}
